.active > div {
    background-color: #0af755;
}

.active > p {
    color: #0af755;
    font-size: 22px; 
}

.actived {
    border-left: #0af755 1px solid;
}

.actived > img {
    border-left: white 1px solid;
    background-color: #3a3a3a;
}

body {
position: relative;
}